body {
	background-color: #0A1045;
	/* color: white; */
}	
	
.anchored {
	position: fixed;
	left: 0;
	bottom: 10;
	width: 100%;
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: #FFFFFF;
}

h5{
	color: rgba(255,255,255,0.7);
}