body {
	background-color: #ECE4B7;
	color: black;
}	
	
.anchored {
	position: fixed;
	left: 0;
	bottom: 10;
	width: 100%;
	text-align: center;
}

a {
	color: black;
}

a:hover {
	color: #621B00;
}

h5{
	color: rgba(0,0,0,0.7);
}