@charset "ISO-8859-1";
* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	body {
		background-image: url("../image/login-bg.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	
	#login {
		width: 350px;
		height: 150px;
		position:absolute;
	    top:50%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    background-color: #D9DBF1;
	}
	
	.overlay {
		height: 100vh;
		width: 100vw;
		background-color: #04395E; 
	    opacity: 0.2;
	}
	
	table{
		margin-top: 20px;
		margin-left: 50px;
	}