@charset "ISO-8859-1";
* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	body {
		background-image: url("../image/login-bg.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	
	#login {
		position:absolute;
	    top:50%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    background-color: #FFFFFF;
	}
	
	.overlay {
		height: 100vh;
		width: 100vw;
		background-color: #04395E; 
	    opacity: 0.2;
	}
	
	table{
		text-align: center;
		height: 100%;
		width: 100%;
	}
	
	h1 {
		top: 20%;
		position: absolute;
		font-size: 50px;
		width: 100%;
		text-align: center;
		color: white;
		text-shadow: 2px 2px #000000;
	}

	tr {
		display: block;
	}
	
	.tdBtn {
		display: flex;
		justify-content: space-around;
		padding-top: 25px;
	}
	
	#login_login_username{
		margin-left: 20px;
	}
	
	#login_login_password{
		margin-left: 25px;
	}