* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	background-color: #FFFCF9;
/* 	background-image: url('../image/primary-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
}

.card{
	margin: 22px;
	position: relative;
	max-width: 240px;
	/* height: auto; */
	/* max-height: 550px; */
	width: 100%;
	max-height: 350px;
	background-color: #F4F4ED;
	color: black;
}

.card-body {
    max-height: 200px;
	height: 100%;
}

.card-title {
    max-height: 29px;
	height: 100%;
	font-weight: bolder;
}


.card-text {
	max-height: 87px;
	height: 100%;
	/* border: 1px solid gray;
	border-radius: 2px; */
	padding: 5px;
	overflow: hidden;
}

.editBtn {
    min-width: 198px;
    position: absolute;
	bottom: 15;
}

.editImage {
	max-width: 237px;
	width: 100%;
	height: auto;
}

#image-css{
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	background-position: top;
	width: 238px; 
	height: 238px;
	
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: auto;
}
